<h3>Hello</h3>
<% if @friend %>
	<%= @friend.first_name %>

	<p>Do you really want to be friends with <%= @friend.first_name %>?</p>
	<%= form_for @user_friendship, method: :post do |form| %>
		<%= form.hidden_field :friend_id, value: @friend.profile_name %>
		<%= submit_tag "Yes, Add Friend", class: 'button button-blue' %>
		<%= link_to "Cancel", profile_path(@friend), class: 'button button-red' %>
	<% end %>
<% end %>