<!DOCTYPE html>
<html>
<head>
  <title>Usmlemap</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed navbar-fluid">
  <nav>
    <ul>
      <li class="navbar-title">
        <%= link_to "USMLEMAP", root_path %>
      </li>
    </ul>
    <ul>
    <% if user_signed_in? %>
    	<li><%= link_to current_user.first_name, edit_user_registration_path %></li>
      <li><%= link_to "Friends", user_friendships_path %></li>
    	<li><%= link_to "Logout", logout_path %></li>
    <% else %>
    	<li><%= link_to "Login", login_path %></li>
    	<li><%= link_to "Signup", register_path %></li>
    <% end %>
    </ul>
  </nav>
</div>


<div class="container content">
	<%= yield %>

</div>
<% flash.each do |type, message| %>
  <script type="text/javascript">
    k$.status({
      text: '<%= message %>',
      delay: 2000,
      type: '<%= flash_class type %>',
      id: 'token'
    });
  </script>
<% end %>


</body>
</html>
